<footer class="mt-5">
  <div class="text-center py-3">
    <% if(theme.footer.wordcount.enable) { %>
      这个地方存放了 <%= totalcount(site) %> 个记忆元素
      </br>
    <% } %>
    ©️ <%= theme.since %> - <%= new Date().getFullYear() %> <%= config.author %> 
    <i class="iconfont icon-love"></i>
    Theme by <a href="https://github.com/fluid-dev/hexo-theme-fluid" target="_blank" rel="nofollow noopener"> <b>Fluid</b></a>
    edited by <a href="https://github.com/hanamiyuna/hexo-theme-fluid"><b>Hanami Yuna</b></a>
    <br>

    <%- partial('_partial/busuanzi.ejs') %>
    <%- partial('_partial/beian.ejs') %>
    <% if(theme.web_analytics.cnzz) { %>
      <!-- cnzz Analytics Icon -->
      <span id="cnzz_stat_icon_<%- theme.web_analytics.cnzz %>" style="display: none"></span>
    <% } %>
  </div>
  <%- partial('_partial/statistics.ejs') %>
  <%- partial('_partial/beian.ejs') %>
  <% if(theme.web_analytics.cnzz) { %>
    <!-- cnzz Analytics Icon -->
    <span id="cnzz_stat_icon_<%- theme.web_analytics.cnzz %>" style="display: none"></span>
  <% } %>
</footer>

<!-- SCRIPTS -->
<%- partial('_partial/scripts.ejs') %>
